{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title id="page_title">&nbsp;</title>
        <link href="{% static 'vendor/css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <link href="{% static 'resources/css/hospital-dashboard.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html" id="profile_name"></a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">

                <li>
                    <div class="icon" id="bell"> <img src="https://i.imgur.com/AC7dgLA.png" alt=""> </div>
                    <div class="notifications" id="box">
                        {% for notification in notifications %}
                            {% if notification.show == True %}
                                <div id="{{notification.id}}" class="notifications-item">
                                    <div class="text">
                                        <p>{{notification.notification_body}}</p>
                                        <button class="btn btn-primary my-btn" onclick="patient_confirm_or_cancel('confirm', {{notification.id}})">Confirm</button>
                                        <button class="btn btn-danger my-btn" onclick="patient_confirm_or_cancel('cancel', {{notification.id}})">Cancel</button>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://i.postimg.cc/BbKp2Y9K/user.png" height="25" width="25" id="profile_name" /></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Your Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'hospital:authority_logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{% url 'index' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                Home
                            </a>
                            
                            <!-- total bed -->
                            <div class="sb-sidenav-menu-heading">Total Bed</div>
                            <div class="total-bed-cls">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#bed-update-form" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                        ICU Beds
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                            </div>
                            <div class="update-bed-parent-cls collapse" id="bed-update-form">
                                <p id="icu-bed">&nbsp;</p>
                                <input type="number" name="total-bed" id="icu_bed" placeholder="Number of total beds" /> 
                                <input type="submit" name="update" value="Update" id="update-btn-icu" class="btn btn-primary" onclick="update_bed('icu_bed')" />
                            </div>

                            <div class="total-bed-cls">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#bed-update-form-word" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                        Word Beds
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                            </div>
                            
                            <div class="update-bed-parent-cls collapse" id="bed-update-form-word">
                                <p id="word-bed">&nbsp;</p>
                                <input type="number" name="total-bed" id="word_bed" placeholder="Number of total beds" /> 
                                <input type="submit" name="update" value="Update" id="update-btn-word" class="btn btn-primary" onclick="update_bed('word_bed')" />
                            </div>

                            
                            <!-- add patient -->
                            <div class="sb-sidenav-menu-heading">Action</div>
                            <div class="add-patient-cls">
                                <button class="add-patient-btn"><a href="#add-patient-id"><img src="https://i.postimg.cc/fT4s75Vy/add.png" class="plus-png"> Add Patient</a></button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="sb-sidenav-footer" id="profile_name_footer">
                        
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>

                        <!-- alert message -->
                        <div class="alert alert-success" role="alert">
                            &nbsp;
                        </div>

                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4" style="cursor: pointer;">
                                    <div class="card-body">Total covid cases</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" onclick="get_patients('All')">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4" style="cursor: pointer;">
                                    <div class="card-body">Current covid cases</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" onclick="get_patients('Alive')">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4" style="cursor: pointer;">
                                    <div class="card-body">Success covid cases</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" onclick="get_patients('Success')">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4" style="cursor: pointer;">
                                    <div class="card-body">Death covid cases</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" onclick="get_patients('Dead')">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card mb-4">
                            <div class="card-header" id="databse_name">
                                <i class="fas fa-table mr-1"></i>
                                &nbsp;
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Adhar No.</th>
                                                <th>Status</th>
                                                <th>Admit at</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Adhar No.</th>
                                                <th>Status</th>
                                                <th>Admit at</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <h1 class="bed-details-header">Updated bed details</h1>
                    <div class="beds d-flex flex-row justify-content-center">
                        
                        <div class="word-bed">
                            <h4>word beds</h4>
                            <div class="parent-inner d-flex flex-row">
                                <div class="available-bed">
                                    <h5>Available</h5>
                                    <p id="available-word-bed">&nbsp;</p>
                                </div>
                                <div class="waiting-bed">
                                    <h5>Waiting</h5>
                                    <p id="waiting-word-bed">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="icu-bed">
                            <h4>icu beds</h4>
                            <div class="parent-inner d-flex flex-row">
                                <div class="available-bed">
                                    <h5>Available</h5>
                                    <p id="available-icu-bed">&nbsp;</p>
                                </div>
                                <div class="waiting-bed">
                                    <h5>Waiting</h5>
                                    <p id="waiting-icu-bed">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="parent-form" id="add-patient-id">
                        <div class="add-patient-form-cls">
                            <div class="row">
                                <h2>Add new patient</h2>
                                {% csrf_token %}

                                <div class="form-floating col-md-8 mt-2">
                                    <input type="text" class="form-control" id="patient_name" placeholder="Patient name *" required>
                                    <div class="invalid-feedback" id="patient_name_err_id">
                                    </div>
                                </div>

                                <div class="form-floating col-md-4">
                                    <select name="type" class="right-drop-down mt-2" id="gender">
                                        <option selected="selected" value="">Select gender*</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                    <div class="invalid-feedback" id="gender_err_id"></div>
                                </div>

                                <div class="form-floating col-md-6 mt-2">
                                    <input type="text" class="form-control" id="p_contact" placeholder="Primary no.*" required>
                                    <div class="invalid-feedback" id="p_contact_err_id">
                                    </div>
                                </div>
                                <div class="form-floating col-md-6 mt-2">
                                    <input type="text" class="form-control" id="s_contact" placeholder="Secondary no.(Optional)" required>
                                    <div class="invalid-feedback" id="s_contact_err_id">
                                    </div>
                                </div>

                                <div class="form-floating col-md-7 mt-2">
                                    <input type="text" class="form-control" id="adhar" placeholder="Adhar no.*" required>
                                    <div class="invalid-feedback" id="adhar_err_id">
                                    </div>
                                </div>

                                <div class="form-floating col-md-5 mt-2">
                                    <label id="dob_label">Date of birth*<span style="color: red"></span></label>
                                    <input type="date" class="form-control" id="dob" placeholder="DOB" required>
                                    <div class="invalid-feedback" id="dob_err_id">
                                    </div>
                                    <div class="invalid-feedback" id="dob_err_id"></div>
                                </div>

                                <div class="form-floating col-md-12">
                                    <select name="bed-type" class="right-drop-down mt-2" id="bed">
                                        <option selected="selected" value="">Bed type*</option>
                                        <option value="word">Word</option>
                                        <option value="icu">ICU</option>
                                    </select>
                                </div>

                                <div class="col-md-12">
                                    <input type="submit" name="register" value="Add" id="add-btn" class="btn btn-primary" onclick="add_patient()" />
                                </div>
                            </div>
                        </div>
                    </div>

                </main>
            </div>
        </div>

        {{ hospital.slug|json_script:"hospital_slug" }}

        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'vendor/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'vendor/js/datatables-demo.js' %}"></script>
        <script src="{% static 'resources/js/hospital-dashboard.js' %}"></script>
    </body>
</html>
